html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  box-sizing: border-box;
  font-family: proxima-nova, sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.extra-bold {
  font-family: proxima-nova, sans-serif;
  font-weight: 800;
  font-style: normal;
}
.bold {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.regular {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.light {
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  font-style: normal;
}
nav {
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
}
@media only screen and (min-width: 751px) {
  .mobile-nav {
    display: none;
  }
}
.mobile-nav .open {
  display: block;
  cursor: pointer;
  font-size: 2rem;
  padding: 0.75rem 0.8rem;
}
.mobile-nav .mobile-nav-div {
  width: 0;
  overflow-x: hidden;
  z-index: 1;
  position: fixed;
  background-color: #f2f2f2;
  display: block;
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
}
.mobile-nav .mobile-nav-div .mobile-nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-nav .mobile-nav-div .mobile-nav-header .close {
  font-size: 3rem;
  padding: 0;
  margin-left: 1rem;
  margin-top: 0.25rem;
}
.mobile-nav .mobile-nav-div .mobile-nav-header .mobile-nav-logo {
  width: 150px;
  padding: 0;
}
.mobile-nav .mobile-nav-div .mobile-nav-header .mobile-nav-icons {
  display: flex;
  padding-right: 1rem;
}
.mobile-nav .mobile-nav-div .mobile-nav-header .mobile-nav-icons a {
  padding: 0.25rem;
}
.mobile-nav .mobile-nav-div .nav-search {
  width: 100%;
}
.mobile-nav .mobile-nav-div .nav-search select {
  background-color: white;
  height: 3rem;
  border-radius: 0;
}
.mobile-nav .mobile-nav-div .nav-search input {
  width: 80%;
  height: 3rem;
}
.mobile-nav .mobile-nav-div a {
  clear: left;
  color: black;
  font-size: 1rem;
  display: block;
  text-decoration: none;
  padding: 1rem;
}
.mobile-nav .mobile-nav-div hr {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.mobile-nav .mobile-nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-nav .mobile-nav-header .mobile-nav-logo {
  width: 150px;
  padding: 0;
}
.mobile-nav .mobile-nav-header .mobile-nav-icons {
  display: flex;
  padding-right: 1rem;
}
.mobile-nav .mobile-nav-header .mobile-nav-icons a {
  padding: 0.25rem;
}
.desktop-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
@media only screen and (max-width: 750px) {
  .desktop-nav {
    display: none;
  }
}
.desktop-nav .left {
  display: flex;
}
.desktop-nav .left .nav-logo {
  width: 200px;
  padding-right: 1rem;
}
.desktop-nav .left .nav-logo img {
  width: 100%;
}
.desktop-nav .left .first-nav a {
  color: black;
  text-decoration: none;
  padding: 1rem;
}
.desktop-nav .second-nav a {
  color: black;
  text-decoration: none;
  padding: 1rem;
}
.hero .hero-img-desktop {
  width: 100%;
}
@media only screen and (max-width: 750px) {
  .hero .hero-img-desktop {
    display: none;
  }
}
.hero .hero-img-desktop img {
  width: 100%;
}
.hero .hero-img-mobile {
  width: 100%;
}
@media only screen and (min-width: 751px) {
  .hero .hero-img-mobile {
    display: none;
  }
}
.hero .hero-img-mobile img {
  width: 100%;
}
