nav {
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 100;
}

.mobile-nav {
    @media only screen and (min-width: 751px) {
        display: none;
    }
    
    .open {
        display: block;
        cursor: pointer;
        font-size: 2rem;
        padding: .75rem .8rem;
    }
    .mobile-nav-div {
        width: 0;
        overflow-x: hidden;
        position: fixed;
        background-color: @light-gray;
        display: block;
        .light;
        text-align: center;
        .mobile-nav-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .close {
                font-size: 3rem;
                padding: 0;
                margin-left: 1rem;
                margin-top: .25rem;
            }
            .mobile-nav-logo {
                width: 150px;
                padding: 0;
            }
            .mobile-nav-icons {
                display: flex;
                padding-right: 1rem;
                a {
                    padding: .25rem;
                }
            }
        }
        .nav-search {
            width: 100%;
            select {
                background-color: white;
                height: 3rem;
                border-radius: 0;
            }
            input {
                width: 80%;
                height: 3rem;
            }
        }
        a {
            clear: left;
            color: black;
            font-size: 1rem;
            display: block;
            text-decoration: none;
            padding: 1rem;        
        }
        hr {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
        
    }
    .mobile-nav-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .mobile-nav-logo {
            width: 150px;
            padding: 0;
        }
        .mobile-nav-icons {
            display: flex;
            padding-right: 1rem;
            color: black;
            a {
                padding: .25rem;
            }
        }
    }
}

.fa-bell {
    color: black;
}

.fa-user {
    color: black;
}

.desktop-nav {
    @media only screen and (max-width: 750px) {
        display: none;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    .left {
        display: flex;
        .nav-logo {
            width: 200px;
            padding-right: 1rem;
            img {
                width: 100%;
            }
        }
        .first-nav {
            a {
                color: black;
                text-decoration: none;
                padding: 1rem;
            }
        }
    }
    .second-nav {
        a {
            color: black;
            text-decoration: none;
            padding: 1rem;
        }
    }
}

.hero {
    .hero-img-desktop {
        width: 100%;
        height: auto;
        position: relative;
        z-index: -1;
        @media only screen and (max-width: 750px) {
            display: none;
        }
        img {
            width: 100%;
        }
    }
    .hero-img-mobile {
        width: 100%;
        @media only screen and (min-width: 751px) {
            display: none;
        }
        img {
            width: 100%;
        }
    }
    .on-hero {
        position: absolute;
        bottom: 15.5rem;
        left: 1rem;
        @media only screen and (min-width: 500px) {
            position: absolute;
            bottom: 5rem;
            left: 1rem;
        }
        @media only screen and (min-width: 600px) {
            position: absolute;
            bottom: -5rem;
            left: 1rem;
        }
        @media only screen and (min-width: 700px) {
            position: absolute;
            bottom: 35rem;
            left: 1rem;
        }
        @media only screen and (min-width: 1000px) {
            position: absolute;
            bottom: 13rem;
            left: 1rem;
        }
        @media only screen and (min-width: 1200px) {
            position: absolute;
            bottom: 6rem;
            left: 1rem;
        }
        .hero-text {
            background-color: rgba(0, 0, 0, 0.884);
            margin-bottom: 1rem;
            margin-left: .5rem;
            color: white;
            font-size: 2rem;
            width: 50%;
            padding: 1rem;
            .bold;
        }
        .red-btn {
            .red-button;
            margin: 0 .5rem;
        }
        .gray-btn {
            .gray-button;
            margin: 0 .5rem;
        }
    }
    
}

.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .book {
        @media only screen and (max-width: 750px) {
            width: 100%;
        }
        width: 33%;
        :hover {
            cursor: pointer;
        }
        img {
            width: 100%;
        }
    }
    .learn-btn {
        .gray-button;
        border: white;
        margin: 2.5rem 0;
    }
}

.news {
    padding-bottom: 2rem;
    h2 {
        color: @dark-gray;
        padding: 2rem 0rem 1rem 1rem;
        font-size: 1.5rem;
    }
    background-color: @light-gray;
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .news-card {
            @media only screen and (max-width: 750px) {
                width: 100%;
            }
            width: 50%;
            padding: 1rem;
            :hover {
                cursor: pointer;
                color: @red;
            }
            figure {
                img {
                    width: 100%;
                }
            }
            figcaption {
                .bold;
                font-size: 1.5rem;
                padding: 1rem 0;
            }
        }
    }
    .news-btn {
        .gray-button;
        background-color: white;
        border: white;
        margin: 0 auto;
        display: block;
    }
}

.connect {
    background-color: @dark-gray;
    padding: 1rem;
    h2 {
        color: @light-gray;
        .bold;
        font-size: 1.75rem;
        padding-bottom: 1rem;
    }
    .connect-btns {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 1rem;
    }
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    .light;
    font-size: .75rem;
    padding: 1rem;
    .line {
        padding: 1rem;
    }
}

