h1 {
    .bold;
    color: @red;
}

.nav {
    display: flex;
    align-items: center;
    padding: 1rem;
    .nav-logo {
        width: 200px;
        img {
            width: 100%;
        }
    }
    .first-nav {
        ul {
            display: flex;
            
            li {
                padding: 0 1rem;
            }
        }
    }
    .second-nav {
        ul {
            display: flex;
            
            li {
                padding: 0 1rem;
            }
        }
    }
}